
.account__content {
    padding: 15px;
    padding-top: 0;

}

.account__block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}

.account-form {
    margin-bottom: 20px;
}

.favorities-products-table {
    td { 
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}