<div>
    <div class="hslider__item" style="background-image: url({{ item.image }})">
        <div class="container">
            <div class="hslider__content">
                <p class="_title">{{ item.title }}</p>
                <p class="_subtitle">{{ item.text }}</p>
                {{{ item.html }}}
            </div>
        </div>
    </div>
</div>