<section class="section auto-height-target">
  <div class="container">
      <div class="breadcrumbs">
          <p><a href="/">{{> svg/ar-left}} Головна</a></p>
          <p><a href="/">/</a></p>
          <p>{{ translate.title }}</p>
      </div>

    <p class="page-title">{{ translate.title }}</p>
    <div class="page-content">{{{ translate.description }}}</div>


  </div>
</section>