<section class="section">
      <div class="container">
         <div class="breadcrumbs">
            <p><a href="/">{{> svg/ar-left}} Головна</a></p>
            <p><a href="/">/</a></p>
            <p>Акаунт</p>
        </div>
        <div class="accoutn__title">
            <p>{{account.firstName}} {{account.lastName}}/</p>
            <p>{{account.id}}</p>
        </div>
      </div>
</section>