 <div class="bonus">
    <p>Бонусна система</p>
    <div class="bonus__cart">
        <p>{{account.bonus}} Бонусів на рахунку</p>
        <div class="progress-container">
            <div class="progress" id="progress" data-bonus={{account.bonus}}></div>
            <div class="circle">100</div>
            <div class="circle">200</div>
            <div class="circle">250</div>
            <div class="circle">300</div>
        </div>
        <span>1 бонус = 1 гривня</span>
        <a href="/products" class="btn btn-outline btn-white">Перейти в каталог</a>
    </div>
</div>