<div class="checkbox-list small" id="product-sort-list">
    <p class="checkbox-list__title">Сортувати за</p>
    <div class="checkbox-item" data-sort-field="price" data-sort="ASC">
        <p>Ціною (від дешевшого)</p>
        <div class="checkbox-icon"></div>
    </div>
        <div class="checkbox-item" data-sort-field="price" data-sort="DESC">
        <p>Ціною (від ДОРОЖЧОГО)</p>
        <div class="checkbox-icon"></div>
    </div>
</div>
