<section class="section auto-height-target">
  <div class="container">
    <div class="not-found">
      <p class="title">Ваше замовлення успішно створено, наш менеджер звяжеться з вами в найближчий час</p>
        <a href="/" class="btn btn-outline">На головну</a>
    </div>
  </div>
</section>