<section class="section">
    <div class="container">
        <div class="breadcrumbs">
            <p><a href="/">{{> svg/ar-left}} Головна</a></p>
            <p><a href="/">/</a></p>
            <p>Підтвердження замовлення</p>
        </div>

        <div class="accoutn__title">
            <p>Підтвердження замовлення</p>
        </div>
    </div>
</section>


<section class="section bg-white">
    <div class="container">
        <div class="checkout__container">
            <div class="checkout__coll">
                <p class="checkout__coll-title">Дані для доставки</p>
                <div class="checkout__coll-content" id="js-checkout-c-delivery">
                </div>
            </div>
            <div class="checkout__coll">
                <p class="checkout__coll-title">Ваше замовлення</p>
                <div id="js-checkout-c-products" />


            </div>
        </div>
    </div>
</section>
