
<section class="slider slider-with-breadcrumbs">
    <div class="container-absolute">
        <div class="container">
            <div class="breadcrumbs ">
                <p><a href="/">{{> svg/ar-left}} Головна</a></p>
                <p><a href="/">/</a></p>
                <p>Акції</p>
            </div>
        </div>
    </div>
  <div class="home-slider">
    {{> home-slider-item}}
    {{> home-slider-item}}
    {{> home-slider-item}}
  </div>
  <div class="home-slider-controls">
    <div class="slider-controls">
      <button type="button" class="slide-button slide-m-prev">{{> svg/ar-left}}</button>
      <div class="slide-m-dots"></div>
      <button type="button" class="slide-button slide-m-next">{{> svg/ar-right}}</button>
    </div>
  </div>
</section>

<section class="section" style="padding-top: 15px">
    <div class="container">
        <div class="products-news">


            {{!-- <div class="sidebar products-news-sort"> --}}
                {{!-- {{> products/sort-checkbox }} --}}
            {{!-- </div> --}}


            <div class="content">

                {{#if isEmpty}}
                    <div class="list-empty">
                        <p>По заданих параметрах товари відстуні</p>
                    </div>
                {{/if}}

                <div class="products-list">
                    {{#each products as |product|}}
                        {{> product-block product=product}}
                    {{/each}}
                </div>

                {{> pagination}}
            </div>

        </div>
    </div>
</section>