<section class="section auto-height-target">
  <div class="container">
    <div class="not-found">
      <p class="title">Сталася помилка...</p>
      <div class="_404">404</div>
    </div>
  </div>
</section>